<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="row" id="script-info">
      <span id="script-title">
        <h2><%= theModel.escape('title') || "Placeholder" %></h2>
      </span>
      <span id="script-authoring">
        by 
        <a href="#/profile/<%= theModel.escape("owner_id") %>">
          <%= theModel.get('owner_name') || "Placeholder" %>
        </a>
      </span>
    </div>
    <div class="row" id="script-nav">
      <ul class="script-nav nav navbar-nav">
        <li class="active">
          <a class="script-link" href="#/script/<%= theModel.id %>">
            About
          </a>
        </li>
        <li>
          <a class="script-link" href="#/script/<%= theModel.id %>/source">
            Source
          </a>
        </li>
        <li>
          <a href="/install/<%= theModel.id %>.user.js" target="_blank">
            Download
          </a>
        </li>
        <% if (window.current_user_id === theModel.get('owner_id')) { %>
          <li>
            <a href="#/script/<%= theModel.id %>/edit">
              Edit
            </a>
          </li>
        <% } %>
      </ul>
    </div>
    
    <div class="row" id="script-stuff"></div>

    <div class="row" id="comments">
    </div>
  </div>
  <div class="col-md-2">
    <h2>Script Info</h2>
    <table>
      <tbody>
        <tr>
          <td><b>Author: </b></td>
          <td><a href="#/profile/<%= theModel.escape("owner_id") %>">
              <%= theModel.get('owner_name') || "Placeholder" %>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
