<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="row" id="script-info">
      <span id="script-title">
        <%= thisScript.escape('title') || "Placeholder" %>
      </span>
      <span id="script-authoring">
        by 
        <a href="#/profile/<%= thisScript.escape("owner_id") %>">
          <%= thisScript.get('owner_name') || "Placeholder" %>
        </a>
      </span>
    </div>
    <div class="row" id="script-nav">
      <ul class="script-nav nav navbar-nav">
        <li class="active">
          <a class="script-link" href="#/script/<%= thisScript.id %>">
            About
          </a>
        </li>
        <li>
          <a class="script-link" href="#/script/<%= thisScript.id %>/source">
            Source
          </a>
        </li>
        <li>
          <a href="/install/<%= thisScript.id %>.user.js" target="_blank">
            Download
          </a>
        </li>
      </ul>
    </div>
    
    <div class="row" id="script-stuff"></div>

    <div class="row" id="comments">
    </div>
  </div>
  <div class="col-md-2">
    <h5>Script Info</h5>
    <table>
      <tbody>
        <tr>
          <td><b>Author: </b></td>
          <td><a href="#/profile/<%= thisScript.escape("owner_id") %>">
              <%= thisScript.get('owner_name') || "Placeholder" %>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
