<!DOCTYPE html>
<html>
<head>
  <title>MonkeyScripts</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script>
    window.current_user_id = <%= current_user ? current_user.id : nil %>
  </script>
</head>
<body>
  <div class="header">
    <%= render partial: "layouts/header" %>
  </div>
  <div class="container">
    <% unless cookies["_MonkeyScripts_welcomewindow"] == "0" %>
      <%= render partial: "layouts/welcome_banner" %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
